RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

SetEnv DB_DSN "u82416:8823102@tcp(localhost:3306)/u82416"
SetEnv JWT_SECRET "it-is-the-most-top-secret-key-from-Epstein's-files"


<Directory /admin>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^admin/.*$ /admin/index.php [L]
</Directory>